* { padding: 0; margin: 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

body {
	background-color: #cccccc;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1 em;
	background-image: url(../images/bg_body.png);
	background-repeat: repeat-x;
	background-position: left top;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, serif;
}

p, li {
	line-height: 1.25em;
	margin-bottom: .625em;
}

div#container {
	width: 60em;
	margin-top: 0; margin-bottom: 0;
	margin-left: auto; margin-right: auto;
}

div#header {
	margin-top:20px; margin-bottom:20px; }

div#header>img { border:1px solid; background-color: white; padding:5px; }

ul#nav { 
	background-color: #dddddd;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	list-style-type: none;
}

a, a:link, a:active { 
	color: #008b14;
}

a:visited { color: #649a00; }
a:focus, a:hover { color: #00638b; }
table, tr, th, td {border: 1px solid black; }
th, td {padding: 4px; }

blockquote {
	font-size: 2.5em;
	width:16.5em;
	margin: 0 auto 0 auto; 
	padding: 10px 10px 10px 45px;
	color: #777;
	font-family: Georgia, serif;
	font-style: oblique;
	background-image: url(../images/bigquote.png);
	background-repeat: no-repeat;
	background-position: left 8%;
}

blockquote>footer {
	display: block; font-size: .4em; color: #888; text-align:right;}